<section class="container">
    <div class="row ms-3">
        <div class="col-md-11 offset-md-1 col-xs-12">
            <div class="row">
                <h2>Version av {{title}}s microtjänster i olika miljöer</h2>
            </div>
            <div class="row ms-1">
                <table>
                    <th>Tjänst</th>
                    @for(cfg of cfgs; track cfg.env) {
                        <th>{{cfg.env}}</th>
                    }
                    @for(svc of svcs; track svc.name) {
                        <tr class="border-bottom">
                            <td>{{svc.name}}</td>
                            @for(cfg of cfgs; track cfg.env) {
                                <td>{{svc.env.version}}</td>
                            }
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</section>