.header-logo {
    max-height: 3rem;
    padding: 2px 2px 2px 2px;
    margin-left: 5rem;
}

.header-hr {
    height: 3rem;
    background-color: #0073B9;
    text-align: center;
    color: #fff;
    margin-top: 2px;
    padding-top: 0.5rem;
}
h1 {
    font-size: x-large;
}